[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = "true"

[requires]
python_version = "3.9"

# If issues installing, run: export SYSTEM_VERSION_COMPAT=1
# https://github.com/pypa/pipenv/issues/4576#issuecomment-751639556
[packages]
seaborn = "0.11.1"
pandas = "1.2.4"
matplotlib = "3.4.2"
scikit-learn = "0.24.2"
numpy="1.21.0"
